/* **************** Undo's *****************/
.undo-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
button{
  height: 2.9em;
  padding: 0;
  margin: 0px;
  border: none;
  color: rgb(27, 123, 163);
}
input {
  border: none;
  background: rgba(255,255,255,0.25);
  color: white;
  height: 2.9em;
  padding-left: 2%;
}

::-webkit-input-placeholder {
  color: rgb(193, 239, 238);
;
}

:-moz-placeholder { /* Firefox 18- */
  color: rgb(193, 239, 238);
}

::-moz-placeholder {  /* Firefox 19+ */
  color: rgb(193, 239, 238);
}

:-ms-input-placeholder {
  color: rgb(193, 239, 238);
}
/* **************** Styles**************** */
.btn{

  background-color: rgb(208, 243, 243);
  padding: 5px;
  margin: 5px;
  color: rgb(24, 117, 157);
}
.modal-window{
  position: absolute;
  margin: 10%;
  top: 15%;
  background: rgba(0, 0, 0, 0.1);
  border: solid;
  border-width: 1px;
  padding: 5%;
  border: 1px outset rgba(208, 243, 243, 0.53);
  padding-top: 0;
}

.img-background{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}


.attached-input-label{
  margin-bottom: 10%;
}

.attached-input-label > input{
  width: 80%;
}



.pull-left{
  float: left;
  clear: left;
}

.attached-input-label > button{
  width: 15%;
  position: relative;
  left: -10%;
  background-color: rgb(208, 243, 243);
}
.txt-high-blue{
  color: rgb(26, 122, 162);
}

.txt-low-blue{
  color: rgb(208, 243, 243);
}
.centered{
  text-align: center;
}

.full-screen {
  height: 100vh; /*Each section of the size of viewport.*/
}

.bad-action{
  color: rgb(187, 222, 222);;
}

/* **************** Masking **************** */

.img-bg-blue-lit{
  background-image: url("../images/blue-lit.jpg");
}

#login #brand{
  max-width: 60%;
  padding: 5%;
}

#login > .attached-input-label{
  padding-left: 10%;
}

#login{
  padding-top: 25%;
  padding-left: 10%;
}
.username-option{
 width: 100%;
}

body{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(78, 174, 202, 0.67);
}

.close-modal{
  width: 20px;
  line-height: 20px;
}

.modal-message{
  color: rgb(208, 243, 243);
  border-bottom: 1px solid rgba(208, 243, 243, 0.53);
  text-shadow: 0 0 3px rgb(28, 123, 164);
}