/* **************** Undo's *****************/
.undo-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
button{
  height: 2.9em;
  padding: 0;
  margin: 0px;
  border: none;
  color: rgb(27, 123, 163);
}
input {
  border: none;
  background: rgba(255,255,255,0.25);
  color: white;
  height: 2.9em;
  padding-left: 2%;
}

::-webkit-input-placeholder {
  color: rgb(193, 239, 238);
;
}

:-moz-placeholder { /* Firefox 18- */
  color: rgb(193, 239, 238);
}

::-moz-placeholder {  /* Firefox 19+ */
  color: rgb(193, 239, 238);
}

:-ms-input-placeholder {
  color: rgb(193, 239, 238);
}
/* **************** Styles**************** */
.img-background{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.centered{
  text-align: center;
}

.full-screen {
  height: 100vh; /*Each section of the size of viewport.*/
}

.attached-input-label{
  margin-bottom: 10%;
}
.attached-input-label > input{
  width: 80%;
}

.modal-window{
  position: absolute;
  margin: 10%;
  top: 15%;
  background: rgba(0, 0, 0, 0.1);
  border: solid;
  border-width: 1px;
  padding: 5%;
}


.pull-left{
  float: left;
  clear: left;
}

.attached-input-label > button{
  width: 15%;
  position: relative;
  left: -10%;
  background-color: rgb(208, 243, 243);
}
.txt-high-blue{
  color: rgb(26, 122, 162);
}

.txt-low-blue{
  color: rgb(208, 243, 243);
}
/* **************** Masking **************** */

.img-bg-blue-lit{
  background-image: url("../images/blue-lit.jpg");
}

#login #brand{
  max-width: 60%;
  padding: 5%;
}

#login > .attached-input-label{
  padding-left: 10%;
}

#login{
  padding-top: 25%;
  padding-left: 10%;
}

.username-option{
  margin-bottom: 2px;
  margin-left: 15%;
  padding-left: 5%;
  width: 75%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 150%;
  border-style: outset;
  border-color: black;
  border-width: 1px;
  border-radius: 3px;
}

body{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(78, 174, 202, 0.67);
}